<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>wm_s</servlet-name>
        <servlet-class>wm_s</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kml</servlet-name>
        <servlet-class>kml</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testkml</servlet-name>
        <servlet-class>testkml</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>svg</servlet-name>
        <servlet-class>svg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>planekml</servlet-name>
        <servlet-class>planekml</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>genPath</servlet-name>
        <servlet-class>genPath</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>wm_s</servlet-name>
        <url-pattern>/wm_s</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kml</servlet-name>
        <url-pattern>/kml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testkml</servlet-name>
        <url-pattern>/testkml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>svg</servlet-name>
        <url-pattern>/svg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>planekml</servlet-name>
        <url-pattern>/planekml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>genPath</servlet-name>
        <url-pattern>/genPath</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
